@font-face {
    font-family: BioRhyme;
    src: url(BioRhyme/BioRhyme-Regular.ttf);
}

@font-face {
    font-family: Cabin;
    src: url(Cabin/Cabin-Regular.ttf);
}

:root {
    --main-text-color: #14f500;
    --main-background-color: #000000a2;
    --main-accent-color: #ff0000;
    --alternate-accent-color: #b6b6b6;
}

*{
    box-sizing: border-box;
    font-family: "Cabin", "Open sans", "sans-seriff";
    font-size: 18px;
    color: var(--main-text-color);
}

html{
    background: url(images/background-full.png);
    position: relative;
    min-height: 100%;
}

.title-header-container {
    text-align: center;
    background-color: var(--main-background-color);
    margin-bottom: 10px;
}

header {
    text-align: center;
    font-family: "BioRhyme", "Open sans", "sans-seriff";
}

h1 {
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-family: "BioRhyme", "Open sans", "sans-seriff";
    height: 35px;
}

h2 {
    font-weight: normal;
    font-style: normal;
    margin: 0 0 0 10px;
    font-size: 24px;
}

main {
    line-height: 1.5;
    margin-top: 20%;
    width: 95%;
    background: inherit;
}

main, nav {
    margin: 0 auto;
    
}

ul {
    list-style: none;
    padding-left: 0;
    background-color: var(--main-background-color);
}

button {
    background-color: var(--main-background-color);
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-info {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.contact-info > a {
    color: var(--main-accent-color);
    border-bottom: 1px solid var(--main-accent-color);
    margin: 0 5px;
}

.contacts-list > a:visited {
    color: var(--main-accent-color);
}

.contact-list > a:hover{
    cursor: pointer;
}

.interests-list{
    margin: 0;
    list-style-type: none;
}

.interests-list > li::before{
    content: "-";
}

section {
    border: solid var(--alternate-accent-color) 1px;
    padding: 2%;
}

.title-container{
    margin: auto;
    height: 50px;
    background-color: var(--main-background-color);
}

.project-container {
    margin: 0 auto;
    padding-top: 10px;
}

.project-container > img {
    display: block;
    width: 95%;
    height: 200px;
    margin: 0 auto;
}

.project-container > ul {
    display: flex;
    flex-direction: column;
}

.logos {
    border: none;
}

.logos > img {
    height: 30px;
    width: 30px;
}

p {
    background-color: var(--main-background-color);
}

footer {
    text-align: right;
    bottom: 0;
    right: 10px;
}