@font-face {
    font-family: BioRhyme;
    src: url(BioRhyme/BioRhyme-Regular.ttf);
}

@font-face {
    font-family: Cabin;
    src: url(Cabin/Cabin-Regular.ttf);
}

:root {
    --main-text-color: #14f500;
    --main-background-color: #00000086;
    --main-accent-color: #b2b7bb;
    --alternate-text-color: #07e2ff;
}

*{
    box-sizing: border-box;
    font-family: "Cabin", "Open sans", "sans-seriff";
    font-size: 18px;
    color: var(--main-text-color);
}

html{
    background-color: rgb(0, 0, 88);
    position: relative;
    min-height: 100%;
}

.title-header-container {
    text-align: center;
    background-color: var(--main-background-color);
    margin-bottom: 10px;
}

header {
    text-align: center;
    font-family: "BioRhyme", "Open sans", "sans-seriff";
}

h1 {
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-family: "BioRhyme", "Open sans", "sans-seriff";
    height: 35px;
}

h2 {
    font-weight: normal;
    font-style: normal;
    margin: 0 0 0 10px;
    font-size: 24px;
}

main {
    line-height: 1.5;
    margin-top: 20%;
    width: 95%;
    padding-bottom: 100px;
    background: inherit;
}

main, nav {
    margin: 0 auto;
}

.main-display {
    background-color: var(--main-background-color);
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: var(--main-background-color);
}

.link-text {
    text-decoration: none;
    color: var(--main-text-color);
}

.link-text:hover {
    color: var(--alternate-text-color);
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.navigation-buttons {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.contacts-list {
    max-width: 90px;
}

.contacts-list > a:visited {
    color: var(--main-accent-color);
}

.contacts-list > a:hover{
    cursor: pointer;
}

.contacts-list > li > img {
    width: 15px;
    height: 15px;

}

.interests-list{
    margin: 0;
    list-style-type: none;
}

.interests-list > li::before{
    content: "-";
}

section {
    border: solid var(--main-accent-color) 1px;
    padding: 2%;
}

.title-container{
    display: flex;
    justify-content: center;
    background-color: var(--main-background-color);
}

.project-container {
    margin: 0 auto;
    padding-top: 10px;
    background-color: var(--main-background-color);
}

.project-container > section {
    border: none;
    margin-left: -6.5px;
    padding: 10px;
}

.project-container > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.project-links > ul {
    display: flex;
    flex-direction: column;
}

.project-container > ul > li > img {
    width: 280px;
    height: 200px;
    border: 1px solid white;
}

.logos {
    border: none;
    display: flex;
    flex-direction: row;
    margin-top: -30px;
}

.logos > ul {
    display: flex;
    flex-direction: row;
}


.logos > ul > li > img {
    height: 30px;
    width: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}

footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--main-background-color);
}

footer > ul > a {
    padding: 0 2%;
    text-decoration: none;
}

.footer-text {
    visibility: hidden;
}

.footer-icons {
    width: 25px;
    height: 25px;
}



@media screen and (min-width: 768px) {
    .project-container > ul > li > img {
        width: 550px;
        height: 500px;
    }
}

@media screen and (min-width: 1024px) {
    a:hover {
        cursor: pointer;
    }

    button:hover {
        cursor: pointer;
        background-color: var(--main-text-color);
        color: black;
    }

    .project-container > ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-text {
        visibility: visible;
    }
}