*{
    box-sizing: border-box;
}

nav {
    background-color: rgb(129, 129, 129);
}

main, nav {
    margin: auto;
    text-align: center;
}

section {
    border: black solid 1px;
}

.project-title-container{
    margin: auto;
    height: 50px;
}

.project-title {
    margin-top: 10px;
    font-size: 24px;
}

.project-container {
    margin: auto;
    height: 200px;
    background-color: grey;
    padding-top: 10px;
}

p {
    font-size: 16px;
}