@font-face {
    font-family: BioRhyme;
    src: url(BioRhyme/BioRhyme-Regular.ttf);
}

@font-face {
    font-family: Cabin;
    src: url(Cabin/Cabin-Regular.ttf);
}

:root {
    --main-text-color: #0077cc;
    --main-background-color: #e4f0f9;
    --main-accent-color: #00365d;
    --alternate-accent-color: #005da0;
}

*{
    box-sizing: border-box;
    background-color: var(--main-background-color);
    font-family: "Cabin", "Open sans", "sans-seriff";
    font-size: 20px;
    color: var(--main-text-color);
}

nav {
    background-color: var(--main-accent-color);
}
main {
    line-height: 1.5;
}

main, nav {
    margin: auto;
    margin-top: 20%;
}

ul {
    list-style: none;
    padding-left: 0;
}

.contact-info {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.contact-info > a {
    color: var(--main-accent-color);
    border-bottom: 1px solid var(--main-accent-color);
    margin: 0 5px;
}

.contact-info > a:visited {
    color: var(--main-accent-color);
}

.contact-info > a:hover{
    cursor: pointer;
}

.interests-list{
    margin: 0;
    list-style-type: none;
}

.interests-list > li::before{
    content: "-";
}

.contact-info{
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.contact-info a {
    text-decoration: none;
}

section {
    border: black solid 1px;
    padding: 10px;
}

header {
    font-family: "BioRhyme", "Open sans", "sans-seriff";
}

.project-title-container{
    margin: auto;
    /* height: 50px; */
    background-color: var(--main-accent-color);
}

.project-title {
    margin-top: 10px;
    font-size: 24px;
    
}

.project-container {
    margin: 0 auto;
    padding-top: 10px;
}

.project-container > img {
    display: block;
    width: 90%;
    height: 200px;
    margin: 0 auto;
}

.logos {
    border: none;
}

.logos > img {
    height: 30px;
    width: 30px;
}